<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowFormUI.Properties.Settings.QLTTConnectionString"
            connectionString="Data Source=MINH-DANG;Initial Catalog=QLTT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowFormUI.Properties.Settings.QLDIEMDANHConnectionString"
            connectionString="Data Source=MINH-DANG;Initial Catalog=QLDIEMDANH;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>